*{
	font: 12px/1.4  "Comic Sans MS Bold", "Gravitas One", Verdana, "Open Sans", Tahoma, sans-serif;
	color: #fff;
}

h1 {
	font-family: 'Gabriela', serif;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
/*  font-style: italic;*/
  line-height: 1.5;
}

h2 {
  color: #465ef7;
  text-transform: uppercase;
  font-family: 'Gabriela', serif;
  font-size: 44px;
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  line-height: 1.4;
  margin: 10px 0;
  text-shadow: 1.25px 1.25px 0 rgba(16, 16, 16, 0.9), 1.25px -1.25px 0 rgba(16, 16, 16, 0.9), -1.25px 1.25px 0 rgba(16, 16, 16, 0.9), -1.25px -1.25px 0 rgba(16, 16, 16, 0.9);
  transition: all 1s;
}

/*h2 span {
  background-color: rgba(249, 205, 53, 0.75);
  width: 100%;
  height: auto;
}*/

h3 {
	text-align: center;
  text-transform: uppercase;
  font-family: 'Gabriela', serif;
  color: rgba(43, 23, 202, 1);
  font-size: 21px;
  font-style: oblique;
  font-weight: bold;
  margin: 20px 0 30px 0;
}

h4 {
	text-align: center;
  text-transform: uppercase;
  font-family: 'Gabriela', serif;
  font-size: 18px;
  font-style: oblique;
  font-weight: bold;
  margin-bottom: 10px;
}


p{
	text-align: justify;
  font-family: 'Gabriela', serif;
  font-size: 14px;
  color: rgba(43, 23, 202, 1);
}

p>i {
	padding: 0 20px;
}

#background{
	background-image: url(http://static4.grsites.com/archive/textures/multi/multi100.jpg);	
	padding: 0;
}

#bg_filter{
	background-color: rgba(221, 248, 43, 0.4);
	padding: 0;
}

#pageContent{
	border: 5px solid #ffffff;
  background-color: rgba(245, 241, 225, 0.6);
  min-width: 320px;
  margin: 0;
  padding: 0;
}


/*------------------------ HEADER ------------------------*/
.header{
	background-image: url(../images/background/forte_bg.png);
	background-size: cover;
	width: 100%;
	height: auto;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.logo{
  width: 100%;
  height: auto;
  background-color: rgba(248, 248, 255, 0.75);
  border-radius: 40%;
}

#bandName a {
	display: inline-block;
	width: 100%;
	padding: 0;
	padding-top: 10px;
	object-position: bottom;
  color: #fff;
  text-decoration: none;
}

.forte_png{
	width: 100%;
}

#searchForm {
	display: inline-block;
	border: 2px solid #fff;
	padding: 3px;
	border-radius: 5px;
	margin: 16px 0;
}

.searchText {
	padding:8px 15px;
  background:rgba(50, 50, 50, 0.2);
  border:3px solid #207cca;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  font-size: 16px;
  box-shadow: 1px 1px 0 rgba(254, 255, 255, 0.8), 
        			1px -1px 0 rgba(255, 255, 255, 0.8), 
        			-1px 1px 0 rgba(255, 255, 255, 0.8), 
        			-1px -1px 0 rgba(255, 255, 255, 0.8);
  transition: all 1.5s;
}

.searchText:hover{
	background-color:#fafafa;
  color:#207cca;
}


.searchButton {
	position:relative;
  padding:9.5px 15px;
  border:3px solid #207cca;
  background-color:#207cca;
  font-size: 16px;
  color:#fafafa;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: 1px 1px 0 rgba(254, 255, 255, 0.8), 
    		    	1px -1px 0 rgba(255, 255, 255, 0.8), 
    		    	-1px 1px 0 rgba(255, 255, 255, 0.8), 
    		    	-1px -1px 0 rgba(255, 255, 255, 0.8);
  transition: all 1.5s;
}

.searchButton:hover {
	background-color:#fafafa;
  color:#207cca;
}

.header p{
  display: inline-block;
}

.phoneNumber{
	color: #fff;
	font-size: larger;
}

.phoneNumber:hover {
	color: #000;
  text-decoration: none;
	font-size: x-large;
	font-weight: bold;
	background-color: #fff;
	padding: 0 10px;
  border: 2px solid green;
	border-radius: 5px;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

/*------------------------- MENU --------------------------*/
#menu{
	margin: 0;
	padding: 0;
}

#responsive-menu li {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  float: none;
}

#responsive-menu a {
	font-family: 'Gabriela', serif;
  font-size: 15px;
  font-weight: bold;
}

#responsive-menu a:hover, #responsive-menu #dropdownMenu li a:hover {
  background-color: rgba(231, 170, 10, 0.8);
  outline: none;
  position: relative;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  /*transform: translateX(-50%) translateY(-50%);*/
}

.navbar-default {
  background-color: #d9ec1e;
  border-color: rgb(162, 107, 0);
  border-radius-top-right: 0;
  border-radius-top-left: 0;
}

/*.navbar-brand a:hover{
  background-color: rgba(249, 205, 53, 0.75);
  outline: none;
  position: relative;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  /*transform: translateX(-50%) translateY(-50%);*/*/
}

#responsive-menu a::after{
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#responsive-menu #dropdownMenu {
  min-width: inherit;
  padding: 0; 
}

#responsive-menu #dropdownMenu li{
  float:left;
  width: 100%;
  border-bottom: 1px dashed #000;
}

.navbar-default .navbar-nav > li > a {
  color: #777;
}

#responsive-menu #dropdownMenu li a{
  padding: 4px 12px;
  background-color: rgb(217, 236, 30);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}

/*---------------------- MAIN CONTENT ----------------------*/
#mainContent{
	width: 95%;
  padding: 0;
}

/*--------------------- FORTE SERVICES ---------------------*/
#services h2{
	margin-top: 8px;
}

.item.active>img{
	max-height: 600px;
	object-position: center;
	border-radius: 5px;
}

.carousel-caption{
	display: inline-block;
}

div.carousel-caption>p {
	font-family: 'Gabriela', serif;
	text-transform: uppercase;
  font-size: 28px;
  font-style: oblique;
  font-weight: lighter;
  text-align: center;
}

.carousel-caption>h3, .carousel-caption>p {
	background-color: rgba(249, 205, 53, 0.75);
  border-radius: 25px;
  text-shadow: 1px 1px 0 rgb(23, 43, 169), 
    		    	 1px -1px 0 rgb(23, 43, 169), 
    		    	 -1px 1px 0 rgb(23, 43, 169), 
    		    	 -1px -1px 0 rgb(23, 43, 169);
}

.carousel-control.left, .carousel-control.right {
	width: 10%;
	border-radius: 5px;
}

/*-------------------- FORTE ADVANTAGES --------------------*/
.advantages{
	background: rgba(203, 235, 56, 0.8);
	display: inline-block;
	padding: 3%;
  border-radius: 5px;
}

.advantages ul li{
	font-family: 'Gabriela', serif;
  font-size: 21px;
  color: rgba(43, 23, 202, 1);
  font-style: italic;
  padding: 0 40px;
}

.advantages img{
	width: 2%;
}

.colorfulGuitar img{
  width: 57%;
  height: auto;
  margin: 0 25%;
}

/*--------------------- FORTE MEMBERS ----------------------*/
.member_content{
	background-color: rgba(13, 196, 13, 0.8);
	display: inline-block;
  padding-bottom: 16px;
  border-radius: 5px;
  padding-bottom: 20px;
}

#kostya, #evgenia {
	position: relative;
}

.participants_right, .participants_left{
  border-radius: 50%;
  overflow: hidden;
  width: 20%;
}

.participants_left{
	float: left;
}

.participants_right{
	float: right;
	position: absolute;
  top: -30%;
  right: 0.5%;
}

.member_description{
  width: 100%;
  padding: 2% 25%;
}


/*--------------------- FORTE GALERY ----------------------*/
#gallery {
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 6;
  -webkit-column-gap:   0px;
  -moz-column-count:    6;
  -moz-column-gap:      0px;
  column-count:         6;
  column-gap:           0px;
  margin: auto;
}

#gallery img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

#gallery img:hover {
  -webkit-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  position: relative;
  z-index: 100;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 1200px) {
  #gallery {
  -moz-column-count:    5;
  -webkit-column-count: 5;
  column-count:         5;
	}
}
@media (max-width: 1000px) {
  #gallery {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
 	}
}
@media (max-width: 800px) {
  #gallery {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 400px) {
  #gallery {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

/*--------------------- FORTE VIDEOS ----------------------*/
.forteVideo{
	background-color: #000;
	border: 2px solid #fff;
}

/*--------------------- FORTE PLAYLIST ----------------------*/

/*--------------------- FORTE PARTNERS ----------------------*/
.partnersContent{
  display: inline-block;
	background-color: rgba(92, 57, 154, 0.7);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.partnersContent a {
	color: #fff;
}

.partnersImg{
	float: left;
  margin: 1% 6%;
  border: 1px solid #000;
  background-color: #fff;
  padding: 1%;
  border-radius: 5px;
  box-shadow: 1px 5px 10px 1px rgb(216, 198, 41), 1px 6px 20px 2px rgb(222, 155, 57);
}

/*--------------------- FORTE FOOTER ----------------------*/
#footer h3{
  color: #fff;
}

.footer{
	display: block;
	height: auto;
  background-image: url(../images/background/banner_bg.jpg);
  background-size: cover;
  background-position: center;
}

.formPosition{
	padding: 0;
}

.formMessage {
	display: inline-block;
  border: 2px solid #fff;
	padding: 3px;
	border-radius: 5px;
	margin: 16px 0;
}

.error {
	display: none;
	padding: 5px;
}

.input{
	padding: 8px 15px;
  background: rgba(50, 50, 50, 0.35);
  border: 3px solid #207cca;
  border-radius: 7px;
  font-size: 18px;
  margin-bottom: 6px;
  box-shadow: 1px 1px 0 rgba(254, 255, 255, 0.8), 
        			1px -1px 0 rgba(255, 255, 255, 0.8), 
        			-1px 1px 0 rgba(255, 255, 255, 0.8), 
        			-1px -1px 0 rgba(255, 255, 255, 0.8);
  transition: all 1.5s;
}

.input:hover{
	background-color:#fafafa;
  color:#207cca;
}

.formMessageButton{
	position:relative;
  padding:10px 15px;
  border:3px solid #207cca;
  background-color:#207cca;
  font-size: 16px;
  color:#fafafa;
	border-radius: 7px;
	box-shadow: 1px 1px 0 rgba(254, 255, 255, 0.8), 
        			1px -1px 0 rgba(255, 255, 255, 0.8), 
        			-1px 1px 0 rgba(255, 255, 255, 0.8), 
        			-1px -1px 0 rgba(255, 255, 255, 0.8);
  transition: all 1.5s;
}

.social {
	margin-top: 20%;
}

.social ul li {
	float: left;
  padding: 3% 5.7%;
}

.social a i {
	color: yellowgreen;
}

.copy {
	border-top: 2px dashed rgba(249, 205, 53, 0.5);
  padding: 20px;
  margin-left: -5px;
}

/*--------------------- ALL ----------------------*/
.clear {

}

.clear:after {
	content: '';
	display: block;
	clear: both;
}

/*Extra small devices (landscape phones, 576px and up)*/
@media (min-width: 320px) {

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: -1%;
    margin-left: -1%;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  
}