*{
	font: 12px/1.4  "Comic Sans MS Bold", "Gravitas One", Verdana, "Open Sans", Tahoma, sans-serif;
	color: #fff;
	font-family: 'Philosopher', sans-serif;
}

h1 {
	font-family: 'Gabriela', serif;
   	font-size: 36px;
   	text-align: center;
   	font-weight: bold;
   	font-style: italic;
   	line-height: 1.5;
    /*padding-top: 20px;*/
}

h2 {
	text-transform: uppercase;
   	text-decoration: underline;
   	font-family: 'Gabriela', serif;
  	font-size: 26px;
   	text-align: center;
   	font-weight: bold;
   	font-style: oblique;
   	line-height: 1.4;
  	margin: 30px 0 20px 0;
  	background: url(../images/vushuvka1_right.png) repeat-x;
  	padding: 16px 0;
  	border-radius: 5px;
  	text-shadow: 1.25px 1.25px 0 rgba(70, 94, 247, 0.8),
               	 1.25px -1.25px 0 rgba(70, 94, 247, 0.8),
            	-1.25px 1.25px 0 rgba(70, 94, 247, 0.8),
            	-1.25px -1.25px 0 rgba(70, 94, 247, 0.8);
	/*transition: all 2s;*/
}

h2 span {
	background-color: rgba(249, 205, 53, 0.75);
    padding: 8px;
    border-radius: 5px;
}

/*  text-shadow: 1px 1px 0 orange,
               1px -1px 0 orange,
               -1px 1px 0 orange,
              -1px -1px 0 orange;
  color: white;
  transition: all 1s;
  }
  H1:hover {
    text-shadow: 1px 1px 0 yellowgreen,
                 1px -1px 0 yellowgreen,
                 -1px 1px 0 yellowgreen,
                -1px -1px 0 yellowgreen;
    color: white;
    }
*/
h3 {
	text-align: center;
   	text-transform: uppercase;
   	font-family: 'Gabriela', serif;
   	font-size: 21px;
   	font-style: oblique;
   	font-weight: bold;
   	margin: 20px 0 30px 0;
}



p{
	text-align: justify;
   	font-family: 'Gabriela', serif;
   	font-size: 14px;
   	font-style: italic;
}

p>i {
	padding: 0 20px;
}

#background{
	background-image: url(../images/background/bg.gif);	
	padding: 0;
}

#bg_filter{
	background-color: rgba(221, 248, 43, 0.4);
	padding: 0;
}

#pageContent{
	border: 5px solid #ffffff;
	background-color: rgba(245, 241, 225, 0.6);
	padding: 0;
	min-width: 190px;
}

/*------------------------ HEADER ------------------------*/
.header{
	background-image: url(../images/background/forte_bg.png);
	background-size: cover;
	width: 100%;
	height: auto;
	display: inline-block;
	margin: 0;
	padding: 0;
	
	/*overflow: hidden;*/
}

.logo{
    width: 100%;
    height: auto;
    background-color: rgba(248, 248, 255, 0.75);
    border-radius: 40%;
}

#bandName>a {
	display: inline-block;
	width: 100%;
	padding: 0;
	padding-top: 10px;
	object-position: bottom;
}

.forte_png{
	width: 100%;
}

#searchForm {
	border: 2px solid #fff;
	padding: 2px;
	border-radius: 5px;
	margin: 16px 0;
}

.searchText {
	padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:3px solid #207cca;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    font-size: 16px;
}

.searchText:hover{
	background-color:#fafafa;
    color:#207cca;
}


.searchButton {
	position:relative;
    padding:10px 15px;
    border:3px solid #207cca;
    background-color:#207cca;
    font-size: 16px;
    color:#fafafa;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

.searchButton:hover {
	background-color:#fafafa;
    color:#207cca;
}

.phoneNumber{
	color: #fff;
	font-size: larger;
}

.phoneNumber:hover {
	color: #000;
	font-size: x-large;
	text-decoration: underline;
	background-color: #fff;
	padding: 0 10px;
}

/*------------------------- MENU --------------------------*/
#menu{
	margin: 0;
	padding: 0;
}

#responsive-menu a {
	font-family: 'Gabriela', serif;
   	font-size: 15px;
   	font-weight: bold;
}

.navbar_table{
	display: table-row;
}

.navbar_cell{
	display: table-cell;
}

/*---------------------- MAIN CONTENT ----------------------*/
#mainContent{
	width: 100%;
    padding: 0;
}

/*--------------------- FORTE SERVICES ---------------------*/
#services h2{
	margin-top: 8px;
}

.item.active>img{
	max-height: 600px;
	object-position: center;
	border-radius: 5px;
}

.carousel-caption{
	display: inline-block;
}

div.carousel-caption>p {
	font-family: 'Gabriela', serif;
	text-transform: uppercase;
   	font-size: 28px;
   	font-style: oblique;
   	font-weight: lighter;
   	text-align: center;
}

.carousel-caption>h3, .carousel-caption>p {
	background-color: rgba(249, 205, 53, 0.6);
	border-radius: 25px;
}

.carousel-control.left, .carousel-control.right {
	width: 10%;
	border-radius: 5px;
}

/*-------------------- FORTE ADVANTAGES --------------------*/
.advantages{
	background: rgba(203, 235, 56, 0.8);
	display: inline-block;
	padding: 3%;
    border-radius: 5px;
}

.advantages ul li{
	font-family: 'Gabriela', serif;
   	font-size: 21px;
   	font-style: italic;
    padding: 0 40px;
/*    text-shadow: 0.5px 0.5px 0 #000000,
               	 0.5px -0.5px 0 #000000,
            	-0.5px 0.5px 0 #000000,
            	-0.5px -0.5px 0 #000000;*/
}

.advantages img{
	width: 2%;

}

/*--------------------- FORTE MEMBERS ----------------------*/
.members{
	display: inline-block;
}
.members h3{
	margin: 0;
	padding-top: 16px;
}

.member_content{
	background-color: rgba(13, 196, 13, 0.8);
	display: inline-block;
    padding-bottom: 16px;
    border-radius: 5px;
}

#kostya, #evgenia {
	position: relative;
}

.participants_right, .participants_left{
    border-radius: 50%;
    overflow: hidden;
    width: 20%;
}

.participants_left{
	float: left;
}

.participants_right{
	float: right;
	position: absolute;
    top: -30%;
    right: 0.5%;
}

.member_description{
    width: 100%;
    padding: 2% 25%;
}


/*--------------------- FORTE GALERY ----------------------*/
#gallery {
   /* Prevent vertical gaps */
   	line-height: 0;
   	-webkit-column-count: 6;
   	-webkit-column-gap:   0px;
   	-moz-column-count:    6;
   	-moz-column-gap:      0px;
   	column-count:         6;
   	column-gap:           0px;
    margin: auto;
}

#gallery img {
  	/* Just in case there are inline attributes */
  	/*width: 100% !important;*/
  	height: auto !important;
}

@media (max-width: 1200px) {
  	#gallery {
  	-moz-column-count:    5;
  	-webkit-column-count: 5;
  	column-count:         5;
	}
}
@media (max-width: 1000px) {
  	#gallery {
  	-moz-column-count:    4;
  	-webkit-column-count: 4;
  	column-count:         4;
 	}
}
@media (max-width: 800px) {
  	#gallery {
  	-moz-column-count:    3;
  	-webkit-column-count: 3;
  	column-count:         3;
  	}
}
@media (max-width: 400px) {
  	#gallery {
  	-moz-column-count:    1;
  	-webkit-column-count: 1;
  	column-count:         1;
  	}
}

/*--------------------- FORTE VIDEOS ----------------------*/
.forteVideo{
	background-color: #000;
	border: 2px solid #fff;
}

/*--------------------- FORTE PLAYLIST ----------------------*/

/*--------------------- FORTE PARTNERS ----------------------*/
.partnersContent{
	background-color: rgba(92, 57, 154, 0.7);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.partnersImg{
	float: left;
    margin: 1% 6%;
    border: 1px solid #000;
    background-color: #fff;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 1px 5px 10px 1px rgb(216, 198, 41), 1px 6px 20px 2px rgb(222, 155, 57);
}

/*--------------------- FORTE FOOTER ----------------------*/

.footer{
	display: inline-block;
	width: 100%;
	background-image: url(../images/background/banner_bg.jpg);
	background-size: cover;
    width: 100%;
    height: auto;
    display: inline-block;
}

.form {
	width: 100%;
   	margin: auto;
   	/*background-color: lightblue;*/
   	padding: 20px;
}

.error {
	display: none;
}

/*.form_one {
	display: block;
	margin-bottom: 40px;
}

.form_one input {
	display: block;
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	border-radius: 7px;
	padding-left: 10px;
	color: #818689;
    font-size: 15px;
}

.form_one textarea {
	display: block;
	width: 100%;
	height: 90px;
	border-radius: 7px;
	padding-left: 10px;
	color: #818689;
    font-size: 18px;
}*/

/*.form_button {
	color: #ffffff;
	display: block;
	text-align: center;
	height: 50px;
	width: 100%;
	margin: auto;
	font-size: 20px;
	padding: 13px;
	background: rgba(0, 0, 0, 0.5);
	border: 2px dashed #c9c9c9;
	margin-top: 40px;
}

.form_button:hover {
	background: rgba(0, 0, 0, 0.6);
}*/

/*--------------------- ALL ----------------------*/
.clear {

}

.clear:after {
	content: '';
	display: block;
	clear: both;
}

